<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedBrick2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedBrick2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RedBrick2.Properties.Settings.ENGINEERINGConnectionString"
            connectionString="Data Source=AMSTORE-SQL-07;Initial Catalog=ENGINEERING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RedBrick2.Properties.Settings.M2MDATA01ConnectionString"
            connectionString="Data Source=AMSTORE-SQL-07;Initial Catalog=M2MDATA01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RedBrick2.Properties.Settings.QUIKTRACConnectionString"
            connectionString="Data Source=AMSTORE-SQL-05;Initial Catalog=QUIKTRAC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <RedBrick2.Properties.Settings>
            <setting name="NetPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\setup.bmp</value>
            </setting>
            <setting name="MakeSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EngineeringDir" serializeAs="String">
                <value>C:\Engineering</value>
            </setting>
            <setting name="ClipboardSound" serializeAs="String">
                <value>C:\Windows\Media\tada.wav</value>
            </setting>
            <setting name="GaugePath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\Amstore_Macros\gauges.xml</value>
            </setting>
            <setting name="ShtFmtPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\AMSTORE_SHEET_FORMATS\zPostCard.slddrt</value>
            </setting>
            <setting name="JPGPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\JPGs\</value>
            </setting>
            <setting name="KPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\</value>
            </setting>
            <setting name="GPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\PDF ARCHIVE\</value>
            </setting>
            <setting name="MetalPath" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\Metals\METAL MANUFACTURING\</value>
            </setting>
            <setting name="SaveFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SilenceGaugeErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportSTEP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportImg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOMLocation" serializeAs="String">
                <value>1, -1</value>
            </setting>
            <setting name="BOMTemplatePath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\AMSTORE CUTLIST BOM\CL.sldbomtbt</value>
            </setting>
            <setting name="BOMFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>^[Zz][0-9]{5,6}.*|([A-Za-z]{3,4})([0-9]{4})-?.*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MasterTableHashes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B2-01-6F-32-BD-A0-D4-35-11-4D-40-09-16-58-0B-2F</string>
                        <string>7D-37-E7-57-82-09-28-71-D3-0B-94-7D-AC-44-D2-0F</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMaterial" serializeAs="String">
                <value>3042</value>
            </setting>
            <setting name="FlameWar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserDept" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LvlLimit" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Warn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgWarn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdiotLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyActiveAuthors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyCurrentCustomers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberLastCustomer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnExcludeAssy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CutlistNotSelectedWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoOpenPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RBConfigLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="RBConfigSize" serializeAs="String">
                <value>453, 488</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>{0:0.000}</value>
            </setting>
            <setting name="DefaultRev" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EditWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="EditRevSize" serializeAs="String">
                <value>200, 280</value>
            </setting>
            <setting name="EditOpSize" serializeAs="String">
                <value>200, 260</value>
            </setting>
            <setting name="WarnBackground" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WarnForeground" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="NormalBackground" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="NormalForeground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LastCutlist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPQ" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ECRDrawingsDestination" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\Engineering Utility\ECR Drawings\</value>
            </setting>
            <setting name="GaugeRegex" serializeAs="String">
                <value>^[0-9]*\ ?[gG][aA]\.?</value>
            </setting>
            <setting name="CreateCutlistLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="CreateCutlistSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="EstimateSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddToCutlistSize" serializeAs="String">
                <value>370, 139</value>
            </setting>
            <setting name="AddToCutlistLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="SketchDimensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D1@Sketch1</string>
                        <string>D2@Sketch1</string>
                        <string>D3@Sketch1</string>
                        <string>D2@Base-Flange1</string>
                        <string>Thickness@Sheet-Metal1</string>
                        <string>RD1@Annotations</string>
                        <string>RD2@Annotations</string>
                        <string>RD3@Annotations</string>
                        <string>RD4@Annotations</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OpWarn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgingOps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>EB</string>
                        <string>CEB</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReadOnlyWarn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bullet" serializeAs="String">
                <value>•</value>
            </setting>
            <setting name="QTLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="QTSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="GlassesIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\Glasses-icon.bmp</value>
            </setting>
            <setting name="UpdateDimensionsSize" serializeAs="String">
                <value>370, 230</value>
            </setting>
            <setting name="UpdateDimensionsLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="NotifyDimensionChangeOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FBLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="FBLastPath" serializeAs="String">
                <value>G:\ZALES\FIXTURE BOOK\SECTIONS</value>
            </setting>
            <setting name="ToolsIcon" serializeAs="String">
                <value>\cad\Solid Works\Amstore_Macros\ICONS\Tools.bmp</value>
            </setting>
            <setting name="AlertBackground" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="AlertForeground" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="ToolChestLocation" serializeAs="String">
                <value>960, 540</value>
            </setting>
            <setting name="ECRViewerSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="ECRViewerLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="FinishSpecURL" serializeAs="String">
                <value>http://10.10.76.50/doku.php?id=reference:programcolors</value>
            </setting>
            <setting name="SuggestFinishSpec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenameLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="RenameSize" serializeAs="String">
                <value>350, 140</value>
            </setting>
            <setting name="RelatedCutlistLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="RelatedCutlistSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="PageStampSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PageStampLoc" serializeAs="String">
                <value>1175, 20</value>
            </setting>
            <setting name="PageStampWhiteoutRectangleA4" serializeAs="String">
                <value>720, 20, 47, 16</value>
            </setting>
            <setting name="PageStampLocA4" serializeAs="String">
                <value>743, 20</value>
            </setting>
            <setting name="PageStampWhiteoutRectangle" serializeAs="String">
                <value>1154, 20, 47, 16</value>
            </setting>
            <setting name="DrawingCollectorSuffix" serializeAs="String">
                <value>-PACKET</value>
            </setting>
            <setting name="DrawingCollectorSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="DrawingCollectorLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="DrawingCollectorSplitterDistance" serializeAs="String">
                <value>282</value>
            </setting>
            <setting name="DrawingCollectorLastSaveLocation" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PartsSummaryTemplate" serializeAs="String">
                <value>S:\shared\general\Metals\METAL MANUFACTURING\Total Parts Summary.xlsx</value>
            </setting>
            <setting name="ErrorLogSize" serializeAs="String">
                <value>967, 634</value>
            </setting>
            <setting name="ErrorLogLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </RedBrick2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RedBrick2.Properties.Settings>
            <setting name="RefreshIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\Refresh-icon.bmp</value>
            </setting>
            <setting name="ArchiveIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\Archive-icon.bmp</value>
            </setting>
            <setting name="HelpIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\help_and_support.bmp</value>
            </setting>
            <setting name="OdometerStart" serializeAs="String">
                <value>2017-02-17</value>
            </setting>
            <setting name="InstallerNetworkPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\Amstore_Macros\Redbrick\InstallRedBrick.exe</value>
            </setting>
            <setting name="UsageLink" serializeAs="String">
                <value>https://kcjuntunen.github.io/readbrick_readme.html</value>
            </setting>
            <setting name="NotSavedMark" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OpCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ValErr" serializeAs="String">
                <value>#VALUE!</value>
            </setting>
            <setting name="Epsilon" serializeAs="String">
                <value>0.003</value>
            </setting>
        </RedBrick2.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
