<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedBrick2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedBrick2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RedBrick2.Properties.Settings.ENGINEERINGConnectionString"
            connectionString="Data Source=AMSTORE-SQL-05;Initial Catalog=ENGINEERING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RedBrick2.Properties.Settings.M2MDATA01ConnectionString"
            connectionString="Data Source=AMSTORE-SQL-07;Initial Catalog=M2MDATA01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <RedBrick2.Properties.Settings>
            <setting name="NetPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\setup.bmp</value>
            </setting>
            <setting name="MakeSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EngineeringDir" serializeAs="String">
                <value>C:\Engineering</value>
            </setting>
            <setting name="ClipboardSound" serializeAs="String">
                <value>C:\Windows\Media\tada.wav</value>
            </setting>
            <setting name="GaugePath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\Amstore_Macros\gauges.xml</value>
            </setting>
            <setting name="ShtFmtPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\AMSTORE_SHEET_FORMATS\zPostCard.slddrt</value>
            </setting>
            <setting name="JPGPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\JPGs\</value>
            </setting>
            <setting name="KPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\</value>
            </setting>
            <setting name="GPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\PDF ARCHIVE\</value>
            </setting>
            <setting name="MetalPath" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\Metals\METAL MANUFACTURING\</value>
            </setting>
            <setting name="SaveFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SilenceGaugeErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportEDrw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOMLocation" serializeAs="String">
                <value>1, -1</value>
            </setting>
            <setting name="BOMTemplatePath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\AMSTORE CUTLIST BOM\CL.sldbomtbt</value>
            </setting>
            <setting name="BOMFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>^[Zz][0-9]{5,6}.*|([A-Za-z]{3,4})([0-9]{4})-?.*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MasterTableHashes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B2-01-6F-32-BD-A0-D4-35-11-4D-40-09-16-58-0B-2F</string>
                        <string>7D-37-E7-57-82-09-28-71-D3-0B-94-7D-AC-44-D2-0F</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMaterial" serializeAs="String">
                <value>3042</value>
            </setting>
            <setting name="FlameWar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserDept" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LvlLimit" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Warn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgWarn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdiotLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyActiveAuthors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyCurrentCustomers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberLastCustomer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnExcludeAssy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CutlistNotSelectedWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoOpenPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RBConfigLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="RBConfigSize" serializeAs="String">
                <value>453, 488</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>{0:0.000}</value>
            </setting>
            <setting name="DefaultRev" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EditWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="EditRevSize" serializeAs="String">
                <value>200, 280</value>
            </setting>
            <setting name="EditOpSize" serializeAs="String">
                <value>200, 260</value>
            </setting>
            <setting name="WarnBackground" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WarnForeground" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="NormalBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NormalForeground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LastCutlist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPQ" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ECRDrawingsDestination" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\Engineering Utility\ECR Drawings\</value>
            </setting>
            <setting name="GaugeRegex" serializeAs="String">
                <value>^[0-9]{1,2}\ ?GA\.?</value>
            </setting>
            <setting name="CreateCutlistLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="CreateCutlistSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="EstimateSource" serializeAs="String">
                <value>False</value>
            </setting>
        </RedBrick2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RedBrick2.Properties.Settings>
            <setting name="RefreshIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\Refresh-icon.bmp</value>
            </setting>
            <setting name="ArchiveIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\Archive PDF.bmp</value>
            </setting>
            <setting name="HelpIcon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\help_and_support.bmp</value>
            </setting>
            <setting name="OdometerStart" serializeAs="String">
                <value>2017-02-17</value>
            </setting>
            <setting name="InstallerNetworkPath" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\RedBrick\InstallRedBrick.exe</value>
            </setting>
            <setting name="UsageLink" serializeAs="String">
                <value>https://kcjuntunen.github.io/readbrick_readme.html</value>
            </setting>
            <setting name="NotSavedMark" serializeAs="String">
                <value> *</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OpCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ValErr" serializeAs="String">
                <value>#VALUE!</value>
            </setting>
            <setting name="Epsilon" serializeAs="String">
                <value>0.003</value>
            </setting>
        </RedBrick2.Properties.Settings>
    </applicationSettings>
</configuration>